html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font: normal normal 14px/24px "Open Sans";
	color: #333;
	background: #f7f7f7;
}
body {
	margin: 0 auto;
	padding: 20px 0;
}
div {
	position: relative;
	margin: 0 auto;
}
ul {
	margin: 5px 0;
	list-style-type: square;
}
a {
	color: blue;
	text-decoration: none;
}
a:visited {
	color: purple;
}
a:hover {
	color: #6666ff;
}

#content {
	width: 800px;
	padding: 15px 30px 25px 30px;
	background: #fff;
	box-shadow: 0 1px 5px #ccc;
}
#name {
	font-weight: 600;
	font-size: 24px;
	line-height: 40px;
}
#projects .repos a {
	display: inline-block;
	width: 90px;
}

.panel {
	margin-top: 15px;
}
.panel > .title {
	padding-bottom: 4px;
	font-size: 20px;
	line-height: 30px;
	border-bottom: 1px solid #ddd;
}
.info {
	font-weight: 600;
}
.sub-panel {
	margin-top: 10px;
}
.em {
	font-style: italic;
	font-weight: 400;
}
